* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background: #000000;
    font-family: Arial, sans-serif;
    min-height: 100%;
}
.grid-main{
    padding-top: 10rem;

}

.gallery-container {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    min-height: 2401px;
    min-width: 1440px;
    background-repeat: no-repeat;  /* Prevents the background image from repeating */
    background-position: center center;  /* Centers the image horizontally and vertically */
    background-size: cover;
    
    background-image: url("../assets/bggallery.png")  ;
    
}
.gallery-background-text {
    position: absolute;
    font-size: 15rem; /* Adjust size as needed */
    padding-top: 7rem;
    color: transparent; /* Makes the text color transparent */
    -webkit-text-stroke: 2px thistle; /* Creates a white outline around the text */

    opacity: 0.3;
    


    z-index: 1; /* Behind the foreground text */
  }
  
  .gallery-foreground-text {
    font-size: 7rem; /* Adjust size as needed */
    
    text-transform: uppercase;
    padding-top: 19rem;
    z-index: 2; /* In front of the background text */
    opacity: 1; /* Slight opacity for effect */
    background: linear-gradient(90deg, rgb(80, 77, 233), rgb(176, 165, 236));
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* Main Title */
.gallery-main {
    text-align: center;
}

.gallery-title {
    font-size: 5rem;
    color: #a3a3ff;
    opacity: 0.1;
    position: relative;
}
.img{
    min-width: none;
    padding-bottom: 0rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5rem;
    transform: rotate(-20.48deg);
    padding-top: 33rem;
    padding-right: 12rem;
    
    overflow: hidden;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5rem;
    padding-top:5rem;
    transform: rotate(-20.48deg);
    padding-right: 2rem;
    
    overflow: hidden;
}
.grid-container-3 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5rem;
    padding-top:4rem;
    transform: rotate(-20.48deg);
    padding-left: 5rem;
    padding-bottom: 5rem;
    
    overflow: hidden;
}

.grid-item {
    height: 250px;
    width: 200px;
    background-color: white;
    overflow: hidden;
}
